duolingo_info.txt
__pycache__/
duolingo_save.txt
word_map_save.txt
audio
qt5
*.DS_Store
ml/training_checkpoints/
ml/training_checkpoints/checkpoint
ml/training_checkpoints/ckpt-1.data-00000-of-00001
ml/training_checkpoints/ckpt-1.index
ml/training_checkpoints/ckpt-10.data-00000-of-00001
ml/training_checkpoints/ckpt-10.index
ml/training_checkpoints/ckpt-11.data-00000-of-00001
ml/training_checkpoints/ckpt-11.index
ml/training_checkpoints/ckpt-12.data-00000-of-00001
ml/training_checkpoints/ckpt-12.index
ml/training_checkpoints/ckpt-13.data-00000-of-00001
ml/training_checkpoints/ckpt-13.index
ml/training_checkpoints/ckpt-14.data-00000-of-00001
ml/training_checkpoints/ckpt-14.index
ml/training_checkpoints/ckpt-15.data-00000-of-00001
ml/training_checkpoints/ckpt-15.index
ml/training_checkpoints/ckpt-16.data-00000-of-00001
ml/training_checkpoints/ckpt-16.index
ml/training_checkpoints/ckpt-17.data-00000-of-00001
ml/training_checkpoints/ckpt-17.index
ml/training_checkpoints/ckpt-18.data-00000-of-00001
ml/training_checkpoints/ckpt-18.index
ml/training_checkpoints/ckpt-19.data-00000-of-00001
ml/training_checkpoints/ckpt-19.index
ml/training_checkpoints/ckpt-2.data-00000-of-00001
ml/training_checkpoints/ckpt-2.index
ml/training_checkpoints/ckpt-20.data-00000-of-00001
ml/training_checkpoints/ckpt-20.index
ml/training_checkpoints/ckpt-21.data-00000-of-00001
ml/training_checkpoints/ckpt-21.index
ml/training_checkpoints/ckpt-22.data-00000-of-00001
ml/training_checkpoints/ckpt-22.index
ml/training_checkpoints/ckpt-3.data-00000-of-00001
ml/training_checkpoints/ckpt-3.index
ml/training_checkpoints/ckpt-4.data-00000-of-00001
ml/training_checkpoints/ckpt-4.index
ml/training_checkpoints/ckpt-5.data-00000-of-00001
ml/training_checkpoints/ckpt-5.index
ml/training_checkpoints/ckpt-6.data-00000-of-00001
ml/training_checkpoints/ckpt-6.index
ml/training_checkpoints/ckpt-7.data-00000-of-00001
ml/training_checkpoints/ckpt-7.index
ml/training_checkpoints/ckpt-8.data-00000-of-00001
ml/training_checkpoints/ckpt-8.index
ml/training_checkpoints/ckpt-9.data-00000-of-00001
ml/training_checkpoints/ckpt-9.index
*.index
ml/training_checkpoints/ckpt-9.index
ml/training_checkpoints
ml/training_checkpoints_2
ml/training_checkpoints*
karlpass.txt
ml
